name: docker

on:
  workflow_call:            # execução na chamada da rotina go.yml
 
jobs:

  docker:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3

    - name: Docker Setup Buildx             # preparação do ambiente para o docker build
      uses: docker/setup-buildx-action@v3.7.1

    - name: Download a Build Artifact         # ação de salvar o arquivo compilado 
      uses: actions/download-artifact@v4.1.8
      with:
        name: programago       # informar qualquer nome relacionado a descrição da aplicação
        
    - name: Docker Login                   # login no docker hub
      uses: docker/login-action@v3.3.0
      with:
        username: thzuccoli
        password: ${{ secrets.PASSWORD_DOCKER_HUB }}       # password armazenado como secret no github secrets
      
    - name: Build and push Docker images             # execução do docker build e docker push
      uses: docker/build-push-action@v6.10.0
      with:
        context: .   # onde irá executar o build
        file: ./Dockerfile      # caminho do dockerfile com o arquivo (esta no diretorio raiz)
        push: true           # colocar a imagem em algum repositorio (no caso no docker hub)
        tags: thzuccoli/go_ci:${{ github.sha }}
